# Domain Configuration
LOGIN=niida

# Backend Configuration
BACKEND_SERVICE=wordpress
BACKEND_PORT=9000
BACKEND_PROTOCOL=fastcgi
APP_ROOT=/var/www/html
VOLUME_BASE=/home/niida

# Database Configuration
DB_NAME=wordpress
DB_USER=wordpress_user

# WordPress Configuration
WP_TITLE=Inception

# WordPress Admin User
WP_ADMIN_USER=super
WP_ADMIN_EMAIL=super@example.com

# WordPress Author User
WP_USER=author
WP_USER_EMAIL=author@example.com
